﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <meta name="description" content="Super Hero, Inc., superhero, citizen safety, drop crime rates, villain">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/material.min.css" rel="stylesheet" />
    <link href="~/Content/css/responsive.css" rel="stylesheet" />
    <link href="~/Content/css/ripples.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />

</head>

<body>
    <header class="header">

        <div data-velocity="-.4" id="particles" class="header-bg"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="social-links">
                        <a class="btn social-link" href="javascript:void(0)"><i class="fa fa-facebook"></i> <div class="ripple-wrapper"></div></a>
                        <a class="btn social-link" href="javascript:void(0)"><i class="fa fa-twitter"></i> <div class="ripple-wrapper"></div></a>
                        <a class="btn social-link" href="javascript:void(0)"><i class="fa fa-instagram"></i> <div class="ripple-wrapper"></div></a>
                        @*<a class="btn social-link" href="javascript:void(0)"><i class="fa fa-google-plus"></i> <div class="ripple-wrapper"></div></a>
                        <a class="btn social-link" href="javascript:void(0)"><i class="fa fa-youtube"></i> <div class="ripple-wrapper"></div></a>
                        <a class="btn social-link" href="javascript:void(0)"><i class="fa fa-linkedin"></i> <div class="ripple-wrapper"></div></a>*@
                    </div>
                </div>
            </div>
        </div>

        <div class="site-title-table">
            <div class="site-title-tablecell">
                <div class="slide-text">
                    <h2><a href="index.html"><span>S</span>uper<span>H</span>eroes</a></h2>
                    <p>Another exciting blog template from awesome team</p>
                </div>
            </div>
        </div>
    </header>

    @*<div class="navbar navbar-inverse navbar-fixed-top">*@
        <div class="container">
            @*<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Superhero, INC.", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>*@
            @*<div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                    @if (Request.IsAuthenticated && User.IsInRole("Admin")) {
                        <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
                        <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>*@
        
        </div>
    @*</div>*@
    <section class="maincontent-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="maincotnent shadow-z-1">
                        <div class="mainmenu">
                            <div class="navbar navbar-nobg">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav">
                                        @*<li class="active"><a href="index.html">Home <div class="ripple-wrapper"></div></a></li>*@
                                        @*<li><a href="about.html">About</a></li>
                                        <li><a href="archive.html">Movie</a></li>
                                        <li><a href="archive.html">Sports</a></li>
                                        <li><a href="archive.html">Travel</a></li>
                                        <li><a href="single.html">Single</a></li>*@
                                        @*<li><a href="contact.html">Contact</a></li>*@
                                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                        <li>@Html.ActionLink("About", "About", "Home")</li>
                                        <li>@Html.ActionLink("Events", "Events", "Home")</li>
                                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                                        @if (User.IsInRole("Admin") || User.IsInRole("Superhero"))
                                        {
                                            <li>@Html.ActionLink("Superheroes", "Index", "Superheroes")</li>
                                        }
                                       

                                        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                                        {
                                            <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
                                            <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
                                        }
                                        @Html.Partial("_LoginPartial")
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SuperHeroes, Inc.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    @*<script src="js/vendor/jquery-1.11.2.min.js"></script>*@
    <script src="~/Content/js/vendor/jquery-1.11.2.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    @*<script src="js/bootstrap.min.js"></script>*@
    <script src="~/Content/js/bootstrap.min.js"></script>
    @*<script src="js/material.min.js"></script>*@
    <script src="~/Content/js/material.min.js"></script>
    <script src="~/Content/js/ripples.min.js"></script>
    @*<script src="js/ripples.min.js"></script>*@
    @*<script src="js/jquery.scrolly.js"></script>*@
    <script src="~/Content/js/jquery.scrolly.js"></script>
    <script src="~/Content/js/jquery.particleground.min.js"></script>
    @*<script src="js/jquery.particleground.min.js"></script>*@
    @*<script src="js/main.js"></script>*@
    <script src="~/Content/js/main.js"></script>
    
</body>
</html>
