﻿@{
    ViewBag.Title = "About";
}
<h1>
    Mission, Visions and Values
</h1>
<p>
    Our mission is to provide protection against villains and educate our community about safety. We hope to develop a
    community of pro-active citizens who are vigilant in keeping streets safe through knowledge and awareness. 
</p>