﻿
@{
    ViewBag.Title = "Events";
}



<p>
    Super Heroes, Inc. is a dedicated groupd of  who strive to provide programs that emphasize growth through
education, safety training, and challenges. We provide citizens, of all ages, with hands-on, interactive programs to
encourage safety and respect for others.
</p>
<p>
    We offer one self-defense class a week at our Super Heroes, Inc. training center and one education course a week at the
    local library.
</p>
<ul>
    <li>
        Self Defense welcomes all ages to learn techniques to increase your personal safety. It meets on Monday
        evenings at 7pm.
    </li>
    <li>
        Our Education series provides hour long programs with super heroes who teach about varied topics. It
        meets on Thursday evenings at 7:30pm. Recent discussions included:
            <ul>
                <li>
                    Hulk teaching about Anger Management.
                </li>
                <li>
                    Batman teaching about Underground Cave Construction.
                </li>
                <li>
                    Ironman teaching about Self Awareness
                </li>
            </ul>
       
    </li>
   
</ul>
